@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

body {
  font-family: 'Newsreader', serif;
}

.jumbotron {
  margin: 10%;
  margin-top: 40px;
  height: 80%;
  display:none;
}

.h3Header{
  padding-top:15px;
}

p {
  margin:0%;
  padding-left:0%;
}

.box-style{
  background-color: grey;
  margin:10px;
  flex-wrap: wrap;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid;
  width: 30%;
}

.display-forecast {
  justify-content: center;
}

.container {
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 20px;
  padding-left: 0%;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: rgb(236, 85, 15);
  font-weight: bold;
}

#submit {
  border-radius: 10px;
  background-color:rgb(255, 218, 175);
  color: rgb(197, 67, 7);
}

#restart {
  border-radius: 10px;
  background-color: rgb(228, 96, 35);
  color: white;
}

#submit:hover {
  background-color: rgb(255, 185, 104);;
  color: white;
}

#restart:hover {
  background-color:rgb(129, 41, 0);
}

#invalidCity  {
  color: red;
  size: 30px;
}

.key {
  color: rgb(255, 203, 144);
}

#city-name{
  margin-top: 10px;
}

#city-limit{
  color:red;
}

.new-1 {
  display: none;
}

.new-2 {
  display: none;
}

.new-3 {
  display: none;
}

.new-4 {
  display: none;
}

.center{
  text-align: center;
}

.hidden {
  display: none;
}