@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

body {
  font-family: 'Newsreader', serif;
}

.jumbotron {
  margin: 30px;
  height: 80%;
  display:none;
}

.h3Header{
  padding-top:15px;
}

p {
  margin:0%;
  padding-left:0%;
}

.box-style{
  background-color: grey;
  margin:10px;
  flex-wrap: wrap;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.row {
  display: flex; /* equal height of the children */
}
.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid;
width: 30%;
}
.display-forecast {
  justify-content: center;  
}

.container {
  margin-top: 50px;
  font-weight: bold;
  margin-left: 30px;
  padding-left: 0%;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 15px;
  color: rgb(236, 85, 15);
  font-weight: bold;
}

#submit {
  border-radius: 10px;
} 

#invalidCity  {
  color: red;
  size: 30px;
}

.key {
  color: rgb(255, 203, 144);
}
#city-name{
  margin-top: 10px;
}